@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300&subset=latin,latin-ext);


body {
    font-family: 'Raleway', sans-serif;
}

#main {
    background-color: #3498db;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Front page */
#headerwrap {
    background-color: #3498db;
    margin-top: -20px;
    padding-top:200px;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
}

#headerwrap {
    h1 {
        margin-top: 60px;
        margin-bottom: 15px;
        color: white;
        font-size: 60px;
        font-weight: 100;
        letter-spacing: 1px;
    }
    h1 a {
        color: #000000;
    }
    h2, h3 {
        color: white;
        margin-bottom: 15px;
    }
}

.headline h1 {
    font-size: 100px;
    color: white;
}

.headline h2 {
    font-size: 77px;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
    max-width: 50%;
}

.featurette-image.pull-right {
    margin-left: 40px;
    max-width: 50%;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
        max-width: 80%;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
        max-width: 80%;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
    .featurette-image.pull-left {
        max-width: 100%;
    }
    .featurette-image.pull-right {
        max-width: 100%;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 40px;
    }

    .headline h2 {
        font-size: 20px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}